<html><head><meta content="text/html;charset=UTF-8" http-equiv="content-type"><style type="text/css">@import url('https://themes.googleusercontent.com/fonts/css?kit=fpjTOVmNbO4Lz34iLyptLUXza5VhXqVC6o75Eld_V98');
.lst-kix_list_2-6>li:before {
	content:"\0025cf "
}
.lst-kix_list_2-7>li:before {
	content:"o "
}
ul.lst-kix_list_1-0 {
	list-style-type:none
}
.lst-kix_list_2-4>li:before {
	content:"o "
}
.lst-kix_list_2-5>li:before {
	content:"\0025aa "
}
.lst-kix_list_2-8>li:before {
	content:"\0025aa "
}
.lst-kix_list_3-0>li:before {
	content:"\0025cf "
}
.lst-kix_list_3-1>li:before {
	content:"o "
}
.lst-kix_list_3-2>li:before {
	content:"\0025aa "
}
ul.lst-kix_list_3-7 {
	list-style-type:none
}
ul.lst-kix_list_3-8 {
	list-style-type:none
}
ul.lst-kix_list_1-3 {
	list-style-type:none
}
ul.lst-kix_list_3-1 {
	list-style-type:none
}
.lst-kix_list_3-5>li:before {
	content:"\0025aa "
}
ul.lst-kix_list_1-4 {
	list-style-type:none
}
ul.lst-kix_list_3-2 {
	list-style-type:none
}
ul.lst-kix_list_1-1 {
	list-style-type:none
}
.lst-kix_list_3-4>li:before {
	content:"o "
}
ul.lst-kix_list_1-2 {
	list-style-type:none
}
ul.lst-kix_list_3-0 {
	list-style-type:none
}
ul.lst-kix_list_1-7 {
	list-style-type:none
}
.lst-kix_list_3-3>li:before {
	content:"\0025cf "
}
ul.lst-kix_list_3-5 {
	list-style-type:none
}
ul.lst-kix_list_1-8 {
	list-style-type:none
}
ul.lst-kix_list_3-6 {
	list-style-type:none
}
ul.lst-kix_list_1-5 {
	list-style-type:none
}
ul.lst-kix_list_3-3 {
	list-style-type:none
}
ul.lst-kix_list_1-6 {
	list-style-type:none
}
ul.lst-kix_list_3-4 {
	list-style-type:none
}
.lst-kix_list_3-8>li:before {
	content:"\0025aa "
}
.lst-kix_list_3-6>li:before {
	content:"\0025cf "
}
.lst-kix_list_3-7>li:before {
	content:"o "
}
ul.lst-kix_list_2-8 {
	list-style-type:none
}
ul.lst-kix_list_2-2 {
	list-style-type:none
}
.lst-kix_list_1-0>li:before {
	content:"\0025cf "
}
ul.lst-kix_list_2-3 {
	list-style-type:none
}
ul.lst-kix_list_2-0 {
	list-style-type:none
}
ul.lst-kix_list_2-1 {
	list-style-type:none
}
ul.lst-kix_list_2-6 {
	list-style-type:none
}
.lst-kix_list_1-1>li:before {
	content:"o "
}
.lst-kix_list_1-2>li:before {
	content:"\0025aa "
}
ul.lst-kix_list_2-7 {
	list-style-type:none
}
ul.lst-kix_list_2-4 {
	list-style-type:none
}
ul.lst-kix_list_2-5 {
	list-style-type:none
}
.lst-kix_list_1-3>li:before {
	content:"\0025cf "
}
.lst-kix_list_1-4>li:before {
	content:"o "
}
.lst-kix_list_1-7>li:before {
	content:"o "
}
.lst-kix_list_1-5>li:before {
	content:"\0025aa "
}
.lst-kix_list_1-6>li:before {
	content:"\0025cf "
}
.lst-kix_list_2-0>li:before {
	content:"\0025cf "
}
.lst-kix_list_2-1>li:before {
	content:"o "
}
.lst-kix_list_1-8>li:before {
	content:"\0025aa "
}
.lst-kix_list_2-2>li:before {
	content:"\0025aa "
}
.lst-kix_list_2-3>li:before {
	content:"\0025cf "
}
ol {
	margin:0;
	padding:0
}
table td,table th {
	padding:0
}
.c3 {
	border-right-style:solid;
	padding:0pt 5.4pt 0pt 5.4pt;
	border-bottom-color:#000000;
	border-top-width:1pt;
	border-right-width:1pt;
	border-left-color:#000000;
	vertical-align:top;
	border-right-color:#000000;
	border-left-width:1pt;
	border-top-style:solid;
	border-left-style:solid;
	border-bottom-width:1pt;
	width:311.9pt;
	border-top-color:#000000;
	border-bottom-style:solid
}
.c4 {
	border-right-style:solid;
	padding:0pt 5.4pt 0pt 5.4pt;
	border-bottom-color:#000000;
	border-top-width:1pt;
	border-right-width:1pt;
	border-left-color:#000000;
	vertical-align:top;
	border-right-color:#000000;
	border-left-width:1pt;
	border-top-style:solid;
	border-left-style:solid;
	border-bottom-width:1pt;
	width:92.2pt;
	border-top-color:#000000;
	border-bottom-style:solid
}
.c24 {
	border-right-style:solid;
	padding:0pt 5.4pt 0pt 5.4pt;
	border-bottom-color:#000000;
	border-top-width:1pt;
	border-right-width:1pt;
	border-left-color:#000000;
	vertical-align:top;
	border-right-color:#000000;
	border-left-width:1pt;
	border-top-style:solid;
	border-left-style:solid;
	border-bottom-width:1pt;
	width:40.9pt;
	border-top-color:#000000;
	border-bottom-style:solid
}
.c12 {
	border-right-style:solid;
	padding:0pt 5.4pt 0pt 5.4pt;
	border-bottom-color:#000000;
	border-top-width:1pt;
	border-right-width:1pt;
	border-left-color:#000000;
	vertical-align:top;
	border-right-color:#000000;
	border-left-width:1pt;
	border-top-style:solid;
	border-left-style:solid;
	border-bottom-width:1pt;
	width:352.7pt;
	border-top-color:#000000;
	border-bottom-style:solid
}
.c9 {
	padding-top:1pt;
	border-top-width:0.5pt;
	border-top-color:#000000;
	padding-bottom:0pt;
	line-height:1.0;
	orphans:2;
	border-top-style:solid;
	widows:2;
	text-align:right
}
.c10 {
	margin-left:36pt;
	padding-top:0pt;
	padding-left:0pt;
	padding-bottom:0pt;
	line-height:1.1500000000000001;
	orphans:2;
	widows:2;
	text-align:left
}
.c5 {
	color:#000000;
	font-weight:700;
	text-decoration:none;
	vertical-align:baseline;
	font-size:12pt;
	font-family:"Arial";
	font-style:normal
}
.c16 {
	color:#000000;
	font-weight:400;
	text-decoration:none;
	vertical-align:baseline;
	font-size:11pt;
	font-family:"Calibri";
	font-style:normal
}
.c2 {
	padding-top:0pt;
	padding-bottom:10pt;
	line-height:1.1500000000000001;
	orphans:2;
	widows:2;
	text-align:justify;
	height:11pt
}
.c0 {
	color:#000000;
	font-weight:400;
	text-decoration:none;
	vertical-align:baseline;
	font-size:12pt;
	font-family:"Arial";
	font-style:normal
}
.c21 {
	padding-top:0pt;
	padding-bottom:0pt;
	line-height:1.1500000000000001;
	orphans:2;
	widows:2;
	text-align:justify
}
.c1 {
	padding-top:0pt;
	padding-bottom:0pt;
	line-height:1.0;
	orphans:2;
	widows:2;
	text-align:center
}
.c13 {
	padding-top:0pt;
	padding-bottom:10pt;
	line-height:1.1500000000000001;
	orphans:2;
	widows:2;
	text-align:left
}
.c22 {
	padding-top:0pt;
	padding-bottom:6pt;
	line-height:1.0;
	orphans:2;
	widows:2;
	text-align:right
}
.c7 {
	padding-top:0pt;
	padding-bottom:0pt;
	line-height:1.0;
	orphans:2;
	widows:2;
	text-align:left
}
.c6 {
	padding-top:0pt;
	padding-bottom:10pt;
	line-height:1.1500000000000001;
	orphans:2;
	widows:2;
	text-align:justify
}
.c26 {
	padding-top:0pt;
	padding-bottom:10pt;
	line-height:1.1500000000000001;
	orphans:2;
	widows:2;
	text-align:center
}
.c25 {
	margin-left:-5.4pt;
	border-spacing:0;
	border-collapse:collapse;
	margin-right:auto
}
.c17 {
	padding-top:0pt;
	padding-bottom:0pt;
	line-height:1.15;
	text-align:left
}
.c18 {
	background-color:#ffffff;
	max-width:425.2pt;
	padding:125pt 85pt 70.9pt 85pt
}
.c23 {
	font-size:12pt;
	font-family:"Arial";
	font-weight:700
}
.c14 {
	font-size:12pt;
	font-family:"Arial";
	font-weight:400
}
.c11 {
	margin-left:36pt;
	padding-left:0pt
}
.c19 {
	padding:0;
	margin:0
}
.c15 {
	height:11pt
}
.c8 {
	height:0pt
}
.c20 {
	background-color:#ffffff
}
.title {
	padding-top:24pt;
	color:#000000;
	font-weight:700;
	font-size:36pt;
	padding-bottom:6pt;
	font-family:"Calibri";
	line-height:1.1500000000000001;
	page-break-after:avoid;
	orphans:2;
	widows:2;
	text-align:left
}
.subtitle {
	padding-top:18pt;
	color:#666666;
	font-size:24pt;
	padding-bottom:4pt;
	font-family:"Georgia";
	line-height:1.1500000000000001;
	page-break-after:avoid;
	font-style:italic;
	orphans:2;
	widows:2;
	text-align:left
}
li {
	color:#000000;
	font-size:11pt;
	font-family:"Calibri"
}
p {
	margin:0;
	color:#000000;
	font-size:11pt;
	font-family:"Calibri"
}
h1 {
	padding-top:24pt;
	color:#000000;
	font-weight:700;
	font-size:24pt;
	padding-bottom:6pt;
	font-family:"Calibri";
	line-height:1.1500000000000001;
	page-break-after:avoid;
	orphans:2;
	widows:2;
	text-align:left
}
h2 {
	padding-top:18pt;
	color:#000000;
	font-weight:700;
	font-size:18pt;
	padding-bottom:4pt;
	font-family:"Calibri";
	line-height:1.1500000000000001;
	page-break-after:avoid;
	orphans:2;
	widows:2;
	text-align:left
}
h3 {
	padding-top:14pt;
	color:#000000;
	font-weight:700;
	font-size:14pt;
	padding-bottom:4pt;
	font-family:"Calibri";
	line-height:1.1500000000000001;
	page-break-after:avoid;
	orphans:2;
	widows:2;
	text-align:left
}
h4 {
	padding-top:12pt;
	color:#000000;
	font-weight:700;
	font-size:12pt;
	padding-bottom:2pt;
	font-family:"Calibri";
	line-height:1.1500000000000001;
	page-break-after:avoid;
	orphans:2;
	widows:2;
	text-align:left
}
h5 {
	padding-top:11pt;
	color:#000000;
	font-weight:700;
	font-size:11pt;
	padding-bottom:2pt;
	font-family:"Calibri";
	line-height:1.1500000000000001;
	page-break-after:avoid;
	orphans:2;
	widows:2;
	text-align:left
}
h6 {
	padding-top:10pt;
	color:#000000;
	font-weight:700;
	font-size:10pt;
	padding-bottom:2pt;
	font-family:"Calibri";
	line-height:1.1500000000000001;
	page-break-after:avoid;
	orphans:2;
	widows:2;
	text-align: left
}